<template>
    <b-card class="user-wrapper">
    <h1>Create User</h1>
  <InputForm 
  />
    </b-card>
</template>

<script>
import { required, email , minLength} from "vuelidate/lib/validators";
import InputForm from '~/components/InputForm'
export default {
  components: {
    InputForm
  },
  data(){
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.user-wrapper {
  background-color: white;
  width: 100%;
  padding: 0 15%;
  border-radius: 30px;
}
</style>