<template>
  <div class="input-wrapper">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
    />

    <b-row>
      <label>First Name</label>
      <b-form-input
        v-model="firstname"
        type="text"
        placeholder="firstname"
        :class="{ 'error-input': $v.firstname.$error }"
      />
      <div class="error" v-if="!$v.firstname.required && $v.firstname.$error">
        This field is required !
      </div>
    </b-row>
    <b-row>
      <label>Last Name</label>
      <b-form-input
        v-model="lastname"
        type="text"
        placeholder="lastname"
        :class="{ 'error-input': $v.lastname.$error }"
      />
      <div class="error" v-if="!$v.lastname.required && $v.lastname.$error">
        This field is required !
      </div>
    </b-row>
    <b-row>
      <label>Email</label>
      <b-form-input
        v-model="email"
        type="email"
        placeholder="email"
        :disabled="mode"
        :style="`${mode ? 'cursor: not-allowed' : ''}`"
        :class="{ 'error-input': $v.email.$error }"
      />
      <div class="error" v-if="!$v.email.required && $v.email.$error">
        This field is required !
      </div>
      <div class="error" v-if="!$v.email.email">
        This field is wrong !
      </div>
    </b-row>
    <b-row>
      <label>Age</label>
      <b-form-input
        v-model="age"
        type="number"
        placeholder="age"
        :class="{ 'error-input': $v.age.$error }"
      />
      <div class="error" v-if="!$v.age.required && $v.age.$error">
        This field is required !
      </div>
      <div class="error" v-if="!$v.age.numeric">
        This field is number only !
      </div>
    </b-row>

    <b-row>
      <label>Gender</label>
      <div class="genderbar">
        <p>Male</p><input type="radio" name="gender" value="male" />
        <P>Female</P><input type="radio" name="gender" value="female"/>
      </div>
      <div class="error" v-if="!$v.gender.required && $v.gender.$error">
        This field is required !
      </div>
    </b-row>

    <div class="btn-wrapper">
      <b-button variant="success" v-if="!mode" @click.prevent="addUser()"
        >Add user</b-button
      >
      <b-button variant="success" v-if="mode" @click.prevent="editUser()"
        >Edit user</b-button
      >
      <b-button variant="outline-primary" @click.prevent="$router.push('/')"
        >Back</b-button
      >
    </div>
  </div>
</template>

<script>
import {
  required,
  email,
  minLength,
  numeric,
  maxLength
} from "vuelidate/lib/validators";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  components: {
    Loading
  },
  props: {
    mode: false
  },
  data() {
    return {
      email: null,
      password: null,
      rePassword: null,
      isLoading: false,
      uid: null,
      firstname: null,
      lastname: null,
      age: null,
      phone: null,
      address: null
    };
  },
  validations: {
    firstname: { required },
    lastname: { required },
    email: { required, email },
    age: { required, numeric },
    gender: { required }
  },
  mounted() {
    // if (this.mode) {
    //   this.getUserData()
    // }
  },
  methods: {
  }
};
</script>

<style lang="scss" scoped>
@import "@/styles/responsive.scss";
.input-wrapper {
  background-color: white;
  width: 100%;
  padding: 0 15%;
  border-radius: 30px;
  @include respond-to($phone) {
    padding: 0 20px;
  }
  label {
    margin: 0;
  }
  input {
    margin: 10px 0;
  }
  .btn-wrapper {
    * {
      margin: 0 10px;
    }
  }
}
</style>
