<template>
  <section class="cardtable-user-wrapper">
    <b-card class="list-user-wrapper">
      <loading
        :active.sync="isLoading"
        :can-cancel="false"
        :is-full-page="true"
      />
      <div class="header-wrapper">
        <h1>User list</h1>
        <b-button
          class="create-btn"
          variant="primary"
          @click="$router.push('/create')"
        >
          Add user
        </b-button>
        <div class="searchbar">
          <b-form-input
            v-if="this.filterType != 'gender'"
            v-model="search"
            required
            placeholder="Search"
          >
          </b-form-input>
          <div class="genderbar" v-if="this.filterType == 'gender'">
            <p>Male</p><input type="radio" name="gender" value="male" />
        	<P>Female</P><input type="radio" name="gender" value="female"/>
          </div>
          <select
            v-model="filterType"
            text="Dropdown Button"
            class="typeDropdown"
          >
            <option value="id">ID</option>
            <option value="first_name">First name</option>
            <option value="last_name">Last name</option>
            <option value="email">Email</option>
            <option value="age">Age</option>
            <option value="gender">Gender</option>
          </select>
        <b-button
          class="create-btn"
          variant="primary"
          @click="$router.push('/user')"
        >
          Search
        </b-button>
        </div>
      </div>
      <div class="flex-table">
        <div class="flex-thead">
          <div class="flex-tr">
            <div class="flex-th">
              <p>No.</p>
            </div>
            <div class="flex-th">
              <p>First Name</p>
            </div>
            <div class="flex-th">
              <p>Last Name</p>
            </div>
            <div class="flex-th">
              <p>Email</p>
            </div>
            <div class="flex-th">
              <p>Gender</p>
            </div>
            <div class="flex-th">
              <p>Age</p>
            </div>
            <div class="flex-th"></div>
            <div class="flex-th"></div>
          </div>
        </div>
        <div class="flex-tbody">
          <div
            class="flex-tr"
            v-for="(user, index) in listUser"
            :key="`row-${index}`"
          >
            <div class="flex-td">
              <p>{{ index + 1 }}</p>
            </div>
            <div class="flex-td">
              <p>{{ user.first_name }}</p>
            </div>
            <div class="flex-td">
              <p>{{ user.last_name }}</p>
            </div>
            <div class="flex-td">
              <p>{{ user.email }}</p>
            </div>
            <div class="flex-td">
              <p>{{ user.gender }}</p>
            </div>
            <div class="flex-td">
              <p>{{ user.age }}</p>
            </div>
            <div class="flex-td btn-group">
              <b-button
                variant="success"
                @click="$router.push(`/user/${user.id}`)"
              >
                Edit
              </b-button>
            </div>
            <div class="flex-td btn-group">
              <b-button variant="danger" @click="deleteUser(user.id)">
                Delete
              </b-button>
            </div>
          </div>
        </div>
      </div>
    </b-card>

    <!-- <b-table
      :data="isEmpty ? [] : data"
      :bordered="isBordered"
      :striped="isStriped"
      :narrowed="isNarrowed"
      :hoverable="isHoverable"
      :loading="isLoading"
      :focusable="isFocusable"
      :mobile-cards="hasMobileCards"
    >
      <template slot-scope="props">
        <b-table-column field="id" label="ID" width="40" numeric>
          {{ props.row.id }}
        </b-table-column>

        <b-table-column field="first_name" label="First Name">
          {{ props.row.first_name }}
        </b-table-column>

        <b-table-column field="last_name" label="Last Name">
          {{ props.row.last_name }}
        </b-table-column>

        <b-table-column field="email" label="Email" centered>
          {{ props.row.email }}
        </b-table-column>

        <b-table-column label="Gender">
          <span>
            <b-icon
              pack="fas"
              :icon="props.row.gender === 'Male' ? 'mars' : 'venus'"
            >
            </b-icon>
            {{ props.row.gender }}
          </span>
        </b-table-column>

        <b-table-column field="age" label="Age" centered>
          {{ props.row.age }}
        </b-table-column>

        <b-table-column field="delete" label="" centered>
          <b-button type="is-warning">Edit</b-button>
          <b-button type="is-danger">Delete</b-button>
        </b-table-column>
      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table> -->
  </section>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import axios from "axios";
export default {
  components: {
    Loading
  },
  data() {
    return {
      filterType: null,
      gender: null,
      listUser: null,
      isLoading: false
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      this.isLoading = true;
      axios.get("http://localhost:5000/users").then(response => {
        this.listUser = response.data;
        this.isLoading = false;
        console.log(response.data);
      });
    }
  }
};
</script>
<style lang="scss" scoped>
@import "@/styles/global.scss";
.header-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	button{
		// width: 0;
	}
  .create-btn {
    margin: 10px 0;
  }
  .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .typeDropdown {
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #6a6a6a;
    outline: none;
    border: 1px solid black;
    padding: 8px 8px;
    border-radius: 5px;
    margin: 0 10px;
  }
}
</style>
