<template>
  <div>
    <div class="container">
    <nuxt />
    </div>
  </div>
</template>
<style lang="scss">
@import '@/styles/global.scss';
.container {
  min-height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
}
</style>