<template>
  <div class="index-wrapper">
  <tableUser/>
  </div>
</template>

<script>
import tableUser from '~/components/tableUser'
export default {
 components: {
    tableUser
  },
}
</script>

<style lang="scss" scoped>
@import '@/styles/global.scss';
.index-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
</style>