@function tint($color, $perc) {
    @return mix(white, $color, $perc);
}
@function shade($color, $perc) {
    @return mix(black, $color, $perc);
}

@import 'responsive';

//Typeface
$fontface: 'Mitr', sans-serif;
$fontsize: 16px;
//Colors
$primary: #444444;
$accent: #105efb;
$disable: #dadada;
$white: #fff;

$text-color: #6a6a6a;
//image background
$img-bg: #f7f8f9;
//Border
$border: black;
//Box shadow
$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
$hover-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

@mixin title-text($size) {
    font: {
        family: $fontface;
        weight: 600;
        size: $size;
    }
    color: $primary;
}

@mixin subtitle-text($size) {
    font: {
        family: $fontface;
        weight: 400;
        size: $size;
    }
    color: tint($primary, 40%);
}

@mixin body-text($size) {
    font: {
        family: $fontface;
        weight: 200;
        size: $size;
    }
    color: $text-color;
}

@mixin link-text($size) {
    font: {
        family: $fontface;
        weight: 200;
        size: $size;
    }
    color: $accent;
    &:hover {
        color: shade($accent, 20%);
    }
}

@mixin button-text {
    font: {
        family: $fontface;
        weight: 200;
        size: $fontsize;
    }
}

@mixin button {
    @include button-text;
    padding: 4px 32px;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-out;
    &:hover {
        background-color: shade($accent, 20%);
    }
}

@mixin input {
    @include body-text($fontsize);
    appearance: none;
    width: 100%;
    outline: none;
    border: 1px solid $border;
    padding: 8px 8px;
    border-radius: 5px;
    &:hover,
    &:focus {
        border-color: $accent;
    }
}

@mixin radio {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid $border;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: transparent;
        transition: 0.3s;
    }
    &:checked::before {
        background-color: $accent;
    }
}

@mixin checkbox {
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid $accent;
    border-radius: 4px;
    transition: 0.3s;
    &:checked {
        background-color: $accent;
        border: 0;
    }
    &:hover:not(:checked) {
        background-color: rgba($color: $accent, $alpha: 0.6);
    }
    &:checked::before {
        content: '';
        position: absolute;
        left: 6.5px;
        top: 1px;
        width: 7px;
        height: 15px;
        border: solid #FFF;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@mixin flex-table {
    border: 1px solid $border;
    border-radius: 6px;
    .flex-thead {
        width: 100%;
        border-bottom: 1px solid $border;
        padding: 10px 0px;
        background-color: white;
        border-radius: 6px 6px 0 0;
        .flex-th {
            font-weight: 600;
        }
    }
    .flex-tbody {
        width: 100%;
        border-radius: 0 0 6px 6px;
        @include respond-to($phone){
            .flex-tr {
                flex-flow: row wrap;
            }
        }
    }
    .flex-tr {
        width: 100%;
        display: flex;
        padding: 0 24px;
        border-bottom: 1px solid $border;
        &:last-child {
            border: 0;
        }
        .flex-th,
        .flex-td {
            flex: 1;
            padding: 4px 8px;
            display: flex;
            align-items: center;
            word-break: break-word;
        }
    }
    &.scroll {
        .flex-tbody {
            max-height: 50vh;
            overflow-y: auto;
        }
    }
}
